/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-feb-15, 16:58:06
    Author     : Erik
*/

.sweButton {
    width:32px; 
}

.engButton {
    width:32px;   
}

.header{
    background: black;
}